<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 

    <!-- Icons -->
    <script src="https://use.fontawesome.com/be0366e24b.js"></script>

    <style>
      #ButtonLogin, #ButtonCadastro {
        padding: 10px 20px;
        font-size: 20px;
        margin: 5px;
        min-width:150px;
        }
      #linkCadastro{
        color: white;
      } 
      .input-group-prepend {
          width : 35%;
      }
      .input-group-prepend span {
          width: 100%;
          overflow: hidden;
      }
    </style>

    <title>Cadastro de Usuário</title>
    
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="">Mapa da Saúde</a>
    </nav>
    <div align="center">
      <div class="jumbotron" style="width:50%; height:50%; margin:50px;">
        <form action="register" method='POST'>
          {% csrf_token %}
    

          {% for field in form %}

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">{{ field.label_tag}}</span>
            </div>
            {{ field }}

            <!-- Aqui são mensagens de ajuda -->
            {% if field.help_text %}
            <small style="color: grey;"> {{ field.help_text }}</small>
            {% endif %}

            <!-- Aqui são mensagens de Erros -->
            {% for error in field.errors %}
            <p><strong>{{ error }}</strong></p>
            {% endfor %}

            {{ field.errors }}

          </div>

          {% endfor %}
 
          <button type="submit" id = "ButtonCadastro" class="btn btn-success btn-lg">
            Cadastre-se
          </button>
        </form>
      </div>
    </div>
  </body>
</html>